@*@{
        ViewBag.Title = "Home Corner Team";
    }*@
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<div class="row">
    <div class="container mt-5 mb-3">
        <h3 class="text-center">About Us</h3>
    </div>
    <div class="container mb-4">
        <h6 class="text-center">Something about the HomeCorner team</h6>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-md-2 mb-sm-2 mb-2">
        <div class="card">
            <div class="card-avatar">
                <img class="card-img-top" src="..\images\vasilis.jpg" alt="Card image cap">
            </div>
            <div class="card-body aboutus-card">
                <h5 class="card-title">Vasilis</h5>
                <p class="card-text">Some details about Vasilis.</p>
                <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
                <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
                <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                <a href="https://github.com/" class="fab fa-github-square"></a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-md-2 mb-sm-2 mb-2">
        <div class="card">
            <img class="card-img-top" src="..\images\abc.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tasos</h5>
                <p class="card-text">Some details about Tasos.</p>
                <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
                <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
                <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                <a href="https://github.com/" class="fab fa-github-square"></a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-md-2 mb-sm-2 mb-2">
        <div class="card">
            <img class="card-img-top" src="..\images\abc.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Katerina</h5>
                <p class="card-text">Some details about Katerina.</p>
                <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
                <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
                <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                <a href="https://github.com/" class="fab fa-github-square"></a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LogInModal")
