@*@{
        ViewBag.Title = "Home Corner Team";
    }*@
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<div class="row">
    <div class="container mt-5 mb-3">
        <h3 class="text-center">About Us</h3>
    </div>
    <div class="container mb-4">
        <h6 class="text-center titles">
            We at HomeCorner are a group of people that aspire to make a user-friendly and up-to-date project with the latest
            news and vacation locations for our users! A variety of places to choose from, cost-friendly prices, you name it!!
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-md-2 mb-sm-2 mb-2">
        <div class="card">
            <div class="card-avatar card-img-top">
                <img class="card-img-top" src="..\images\vasilis.jpg" alt="Vasilis Papoglou">
            </div>
            <div class="card-body card-block d-flex flex-column">
                <h5 class="card-title">Vasilis Papoglou</h5>
                <p class="card-text">vpapoglou@gmail.com</p>
                <p>Graduate from School of Informatics of AUTh</p>
                <div class="mt-auto">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
                    <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    <a href="https://github.com/" class="fab fa-github-square"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-md-2 mb-sm-2 mb-2">
        <div class="card card-img-top">
            <img class="card-img-top" src="..\images\tasos.jpg" alt="Tasos Anastasiadis">
            <div class="card-body card-block d-flex flex-column">
                <h5 class="card-title">Tasos Anastasiadis</h5>
                <p class="card-text">tasossy@hotmail.gr</p>
                <p>Senior Undergraduate from Αutomation Εngineering of Atei</p>
                <div class="mt-auto">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
                    <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    <a href="https://github.com/" class="fab fa-github-square"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-md-2 mb-sm-2 mb-2">
        <div class="card">
            <div class="card-avatar card-img-top">
                <img class="card-img-top" src="..\images\katerina.jpg" alt="Katerina Mylona">
            </div>
            <div class="card-body card-block d-flex flex-column">
                <h5 class="card-title">Katerina Mylona</h5>
                <p class="card-text">katemln18@gmail.com</p>
                <p>
                    Graduate from Informatics and Telecommunications Engineering of UoWM
                </p>
                <div class="mt-auto">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-square"></a>
                    <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    <a href="https://github.com/" class="fab fa-github-square"></a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LogInModal")
