@*@model HomeCorner.ViewModels.HomeViewModel*@
@model IEnumerable<HomeCorner2.Models.House>

@{

    ViewBag.Title = "Home Page";

    var greetings = "";
    DateTime dayTime = DateTime.Now;
    DateTime noonTime = DateTime.Parse("12:00");

    if (DateTime.Compare(dayTime, noonTime) >= 0)
    {
        greetings = "Good Evening!";
    }
    else
    {
        greetings = "Good Morning!";

    }


}




<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<div class="jumbotron mt-4">
    <div id="greetings-home-message">
        @greetings
        <p>
            Grab your dreams and let's explore the northern Greece!

        </p>
    </div>
</div>

<div>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-12">
                <div class="card home-cards">
                    <div class="card-avatar">
                        <img class="card-img-top" src="..\images\test_home.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Price)€</p>
                        <button type="button" class="btn btn-dark">Book Now!</button>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="row mt-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <button type="button" class="btn btn-block btn-dark">Book Now!</button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
