@using HomeCorner2.Models
@model LoginViewModel


<div class="row">

    <div class="col-xl-8 col-lg-8">
        <br /><br />
        <div id="home-carousel" class="carousel slide  mt-6" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
                <li data-target="#home-carousel" data-slide-to="3"></li>
                <li data-target="#home-carousel" data-slide-to="4"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..\images\image.jpg" alt="Home Corner" class="img-thumbnail" width="550" height="250">
                </div>
                <div class="carousel-item">
                    <img src="..\images\image2.jpg" alt="Home Corner" class="img-thumbnail" width="550" height="250">
                </div>
                <div class="carousel-item">
                    <img src="..\images\image3.jpg" alt="Home Corner" class="img-thumbnail" width="550" height="250">
                </div>
                <div class="carousel-item">
                    <img src="..\images\image5.jpg" alt="Home Corner" class="img-thumbnail" width="550" height="250">
                </div>
                <div class="carousel-item">
                    <img src="..\images\image6.jpg" alt="Home Corner" class="img-thumbnail" width="550" height="250">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#home-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#home-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 mt-xl-5 mt-lg-5">

        <p id="welcome-text">Welcome to our corner! A corner full of amazing places to stay, a corner full of homes. From us with respect, to you! Find your Home Corner in northern Greece! </p>
    </div>
</div>

@Html.Partial("_LogInModal")

