@model IEnumerable<HomeCorner2.Models.Reservation>
@{
    ViewBag.Title = "MyReservations";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

@Html.ActionLink("Book Now!", "Search", "Houses", new { area = "" }, new { InputType = "button", @class = "mt-3 btn btn-block btn-dark" })

<h2 class="mt-2">MyReservations</h2>



@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-9">
            <img class="rounded image-details" src="..\..\HouseImages\@item.House.ImageName" alt="@item.House.Title" />
        </div>
    </div>
    <div class="col-lg-3">
        <hr />
    </div>
}

