body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-family: 'Quicksand', sans-serif;
    background-color: #F3F5F6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*.jumbotron-background {
    background-image: url("../images/images.png");
    background-color:transparent !important;
}*/

.vertical-buttons {
    vertical-align: middle;
}

.display-inline {
    display: inline;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.aboutus-card {
    width: 70%;
}*/

#main-body {
    padding-top: unset;
    padding-bottom: unset;
}

.navbar-custom-color, .dropdown-custom-color {
    background-color: #031927;
    color: white;
}

/*.dropdown-custom-color,  {
    background-color: #08415C;
}*/

.button-custom-color, .button-custom-color:hover {
    background-color: #031927;
    color: white;
}

.primary-buttons {
    background-color: #2787BD;
    color: white;
}

.navbar-brand-footer, .text-links {
    color: #031927;
}

.danger-button {
    background-color: #BD1E1E;
    color: white;
}

.jumbotron, .email-form {
    background-color: #C1CFD4;
}

.fa-facebook-square, .fa-twitter-square, .fa-linkedin, .fa-github-square {
    font-size: 1.5rem;
}

.card {
    width: 18rem;
}

.center-div {
    margin: 0 auto;
    width: 55% /* value of your choice which suits your alignment */
}

.contactus-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

#greetings-home-message, #welcome-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
}

.home-cards {
    width: 100%;
}

.image-details {
    width: 90%;
    height: 90%;
}

.image-booking {
    width: 50%;
    height: 50%;
}

.image-reservations img {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
}

.logo-font, .modal-font-title, .titles {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: x-large;
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Cedarville Cursive', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.info-labels {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.edit-image img, .image-details img {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.information-labels {
    font-weight: 700;
}

#login-modal-toggle-button{
    cursor: pointer;
}